

<div class="container-fluid g-0">
    <app-header></app-header>
  </div>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5 d-none d-sm-inline">Pixel Craze</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item "  >
                <a routerLink="/admin/dashboard" class="nav-link align-middle px-0">
                    <i class="fa fa-home fa-beat" style="color: rgb(177, 7, 7);"></i> <span class="ms-4 d-none d-sm-inline text-success" style="font-weight: bold; color: rgb(244, 244, 244);">Dashboard</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/users" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fa fa-users"></i> <span class="d-none d-sm-inline ms-4" style="font-weight: bold; color: white;">Users</span> </a>
                
            </li>
            <li>
                <a routerLink="/admin/professionals" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fas fa-user-tie"></i> <span class="d-none d-sm-inline ms-4" style="font-weight: bold; color: white;">Professionals</span> </a>
                
            </li>
            <li>
                <a routerLink="/admin/banner" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fas fa-image"></i> <span class="d-none d-sm-inline ms-4" style="font-weight: bold; color: white;">Banner</span> </a>
                
            </li>
              
              <!-- <li>
                  <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                      </li>
                  </ul>
              </li> -->
            
          </ul>
          <hr>
          <div class="dropdown pb-4">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                  <span class="d-none d-sm-inline mx-1">loser</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div>
      </div>
      </div>
      <div class="col-9 col-md-9 col-xl-10 py-3">
       
      
        
        <a routerLink="/admin/banner" style="font-weight: bold; text-decoration: underline 2px rgb(28, 113, 7) ; color: black;"><small  >Banner</small></a>
        <a  routerLink="/admin/addbanner" style="text-decoration: none; color: black; font-weight: 500;"  > <small  class=" ms-3" >Add Banner</small></a>
            <hr>
        
        <h4 style="color: black;" *ngIf="(loading$ |async)">.....</h4>
        
        <div class="table-responsive" *ngIf="(loaded$|async)" style="box-shadow: 0px 2px 5px black; border-radius: 10px;">
          <table class="table align-middle mb-0 bg-white">
           
              <thead class="bg-light">
                <tr>
                  <th class="">No</th>
                  <th class="">Heading</th>
                  <th>SubHeading</th>
                  <th>Image</th>
                  <th>Blocked</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody *ngIf="(banners$ |async) as bannerdata">
                <tr *ngFor="let banner of bannerdata ; let i=index">
                  <td>{{i+1}}</td>
                  <td>{{banner.heading}}</td>
                  <td>{{banner.subheading}}</td>
                  <td><img style="width: 90px; height: 50px;" [src]="getImageUrl(banner.image ? banner.image.toString() : '')" alt="banner image goes here"></td>
                  <td>{{banner.blocked}}</td>
                  <td *ngIf="!banner.blocked" ><button class="btn btn-danger" (click)="blockbanner(banner._id)" >Block</button></td>
                  <td *ngIf="banner.blocked"><button class="btn btn-success"  (click)="unblockbanner(banner._id)" >UnBlock</button></td>
                </tr>
                
              </tbody>
          
          </table>
        </div>
        
      </div>
    </div>
  </div>