<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between " style="box-shadow: 0px 1px 5px black;">
  <a href=""><img src="/assets/icon/pixel-craze-low-resolution-logo-color-on-transparent-background (1).png" style="height: 20px; width: 120px;" alt="Logo goes here"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between " id="navbarSupportedContent" >
    <ul class="navbar-nav mr-auto ps-3">
      <li class="nav-item active">
        <a class="nav-link " style="font-weight: bold;" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Professional</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      
    </ul>
    <!-- <div class="form-inline my-2 my-lg-0 d-flex"> -->
      
      <li class="nav-item dropdown  d-flex btn btn-dark" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/login">Login</a>
          <a class="dropdown-item" href="#">Register</a>
        </div>
      </li>
    <!-- </div> -->
  </div>
</nav>


