
<nav class="navbar navbar-expand-lg" style="box-shadow: 0px 1px 5px black; background-color: rgb(255, 255, 255);  ">
  <!-- background-image: url(../../../assets/icon/s); background-size: cover; background-position: center; -->
  <div class="container-fluid">
    <a href=""><img src="/assets/icon/pixel-craze-low-resolution-logo-color-on-transparent-background (2).png" style="height: 20px; width: 120px;" alt="Logo goes here"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-3">
        <li class="nav-item" >
          <a class="nav-link  text-dark " routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="font-weight: 900  ; font-family: monospace; " routerLink="/">Home</a>
        </li>
       
        <li class="nav-item" *ngIf="authenticated">
          <a class="nav-link text-dark" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="font-weight: 900 ; font-family: monospace;  "  routerLink="/professionals">Professionals</a>
         
        </li>
        <li class="nav-item" *ngIf="authenticated">
          <a class="nav-link text-dark" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="font-weight: 900 ; font-family: monospace;  "   routerLink="/bookings">Booking</a>
         
        </li>
        <li class="nav-item" *ngIf="authenticated">
          <a class="nav-link text-dark" routerLink="/chat"  [routerLinkActiveOptions]="{exact: true}" style="font-weight: 900 ; font-family: monospace;  " routerLinkActive="active" >Chat</a>

          
        </li>
        <li class="nav-item" *ngIf="authenticated">
          <a class="nav-link text-dark" routerLink="/about"  [routerLinkActiveOptions]="{exact: true}" style="font-weight: 900 ; font-family: monospace;  " routerLinkActive="active" >About</a>

          
        </li>
        
        
      </ul>
      <li class="nav-item dropdown btn btn-dark">
        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Account
        </a>
        
        <ul class="dropdown-menu" *ngIf="!authenticated">

          <li><a class="dropdown-item" routerLink="/login">Login</a></li>
          <li><a class="dropdown-item" routerLink="/register">Sign up</a></li>
          
        </ul>
        <ul class="dropdown-menu" *ngIf="authenticated">

         
          <li><a class="dropdown-item text-dark" routerLink="/login" (click)="logout()" >Log out</a></li>
          
        </ul>
      </li>
      
    </div>
  </div>
</nav>


