nav{
    padding: 10px 20px;
    border-width: 2px;
    border-color: black; 
}
.custom-toggler {
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1;
    color: #000000;
    /* Add additional custom styles as needed */
  }
  .nav-link {
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-family:monospace;
  }
  
  /* Active link color */
  .nav-link.active {
    color: green;
    text-decoration: underline green 3px;
  }