<app-navbar></app-navbar>
<div class="container-fluid" style="min-height: 100vh;">
    
    <div class="row px-xl-5" >
      <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
          <ol class="breadcrumb mt-2">
            <li class="breadcrumb-item"><a routerLink="/" style="text-decoration: none; color: black; font-family: 'Arizonia', cursive;font-size: 21px">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a routerLink="/professionals" style="text-decoration: none; color: black; font-family: 'Arizonia', cursive;font-size: 21px">Professionals</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a  style="text-decoration: none; color: black; font-family: 'Arizonia', cursive;font-size: 21px">profile</a></li>
            <li class="breadcrumb-item active" aria-current="page" style="font-family: 'Arizonia', cursive;font-size: 21px">Booking</li>
          </ol>
        </nav>
        <div class=" col-md-6">
            <form [formGroup]="bookingform" (ngSubmit)="submit()" >
                <div class="form-group">
                  <label for="exampleInputEmail1" style="color: black; font-weight: bold;">Name</label>
                  <input type="text" [ngClass]="{'is-invalid':submitform && bookingform.controls['name'].errors}" formControlName="name" class="form-control mt-2" id="name" name="name"  placeholder="Name goes here"  style="box-shadow: 0px 1px 4px rgb(87, 87, 87);">
                  <div *ngIf="submitform && bookingform.controls['name'].errors" class="text-danger">       
                    <small *ngIf="bookingform.controls['name'].errors['required']">Email is required </small>
                    <small *ngIf="bookingform.controls['name'].errors['leadingWhitespace']">Null values is not allowed</small>
                  </div>
                </div>
                <div class="form-group">
                  <label  class="mt-3" style="color: black; font-weight: bold;">House Name</label>
                  <input type="text" [ngClass]="{'is-invalid':submitform && bookingform.controls['housename'].errors}" class="form-control" id="housename"  formControlName="housename" name="housename" placeholder="House Name goes here"  style="box-shadow: 0px 1px 4px rgb(87, 87, 87);" >
                  <div *ngIf="submitform && bookingform.controls['housename'].errors" class="text-danger">     
                    <small *ngIf="bookingform.controls['housename'].errors['required']">House name is required </small>
                    <small *ngIf="bookingform.controls['housename'].errors['leadingWhitespace']">Null values is not allowed</small>
                  </div>
                </div>  
                <div class="form-group">
                    <label  class="mt-3" style="color: black; font-weight: bold;">Place</label>
                    <input type="text"  [ngClass]="{'is-invalid':submitform && bookingform.controls['place'].errors}" class="form-control" id="place"  formControlName="place" name="place" placeholder="Place goes here"  style="box-shadow: 0px 1px 4px rgb(87, 87, 87);">
                    <div *ngIf="submitform && bookingform.controls['place'].errors" class="text-danger">    
                      <small *ngIf="bookingform.controls['place'].errors['required']">Place  is required </small>
                      <small *ngIf="bookingform.controls['place'].errors['leadingWhitespace']">Null values is not allowed</small>
                    </div>
                  </div>  
                  <div class="form-group">
                    <label  class="mt-3" style="color: black; font-weight: bold;">Phone</label>
                    <input type="number" [ngClass]="{'is-invalid':submitform && bookingform.controls['phone'].errors}" class="form-control" id="phone"  formControlName="phone" name="phone" placeholder="phone goes here"  style="box-shadow: 0px 1px 4px rgb(87, 87, 87);">
                    <div *ngIf="submitform && bookingform.controls['phone'].errors" class="text-danger">  
                      <small *ngIf="bookingform.controls['phone'].errors['required']">Phone number is required </small>
                      <small *ngIf="bookingform.controls['phone'].errors['pattern']">Enter valid phone number</small>
                    </div>
                  </div>  
                  <!-- <div class="form-group">
                    <label  class="mt-3" style="color: black; font-weight: bold;">Amount</label>
                    <input type="number" [ngClass]="{'is-invalid':submitform && bookingform.controls['amount'].errors}" class="form-control" id="amount"  formControlName="amount" name="amount" placeholder="Amount to be pay should goes here"  style="box-shadow: 0px 1px 4px rgb(87, 87, 87);">
                    <div *ngIf="submitform && bookingform.controls['amount'].errors" class="text-danger">  
                      <small *ngIf="bookingform.controls['amount'].errors['required']">Amount filed is required </small>
                      <small *ngIf="bookingform.controls['amount'].errors['leadingWhitespace']">Null values is not allowed</small>
                    </div>
                  </div>   -->
                  <div class="form-group">
                    <label  class="mt-3" style="color: black; font-weight: bold;">Amount</label>
                    <input type="amount" [ngClass]="{'is-invalid':submitform && bookingform.controls['amount'].errors}" class="form-control" id="amount"  formControlName="amount" name="amount" placeholder="Amount to be pay should goes here"  style="box-shadow: 0px 1px 4px rgb(87, 87, 87);">
                    <div *ngIf="submitform && bookingform.controls['amount'].errors" class="text-danger">   
                      <small *ngIf="bookingform.controls['amount'].errors['required']">Amount filed is required </small>
                      <small *ngIf="bookingform.controls['amount'].errors['leadingWhitespace']">Null values is not allowed</small>
                    </div>
                  </div> 
                  <div class="form-group">
                    <label  class="mt-3" style="color: black; font-weight: bold;">Event</label>
                    <input type="text" [ngClass]="{'is-invalid':submitform && bookingform.controls['event'].errors}" class="form-control" id="event"  formControlName="event" name="event" placeholder="Event goes here"  style="box-shadow: 0px 1px 4px rgb(87, 87, 87);">
                    <div *ngIf="submitform && bookingform.controls['event'].errors" class="text-danger">   
                      <small *ngIf="bookingform.controls['event'].errors['required']">Event is required </small>
                      <small *ngIf="bookingform.controls['event'].errors['leadingWhitespace']">Null values is not allowed</small>
                    </div>
                  </div> 
                  <div class="form-group">
                    <label  class="mt-3" style="color: black; font-weight: bold;">Date</label>
                    <input type="date" [ngClass]="{'is-invalid':submitform && bookingform.controls['date'].errors}" class="form-control" id=""  formControlName="date" name="date" style="box-shadow: 0px 1px 4px rgb(87, 87, 87);">
                    <div *ngIf="submitform && bookingform.controls['date'].errors" class="text-danger">  
                      <small *ngIf="bookingform.controls['date'].errors['required']">Please select a date </small>
                      <small *ngIf="bookingform.controls['date'].errors['pastOrCurrentDate']">Date is not valid</small>  
                    </div>
                  </div> 
                <div class="mt-3"> 
                    <button  type="submit" class="btn btn-success text-white fw-bold ">Submit</button>
                </div>
              </form>
        </div>
        <div class="col-md-6 mt-3 d-none d-lg-block d-md-block " >
          <div class="px-xl-5"  >
            <img src="../../../assets/icon/news_preview_mob_image__preview_14312.png" alt="" style="width: 550px; height: 550px; box-shadow: 0px 1px 5px rgb(67, 67, 67);">
          </div>
        </div>   
    </div>
  </div>
  <app-footer></app-footer>
