<!-- <div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
                             <img src="/assets/icon/pixel-craze-low-resolution-logo-color-on-transparent-background (1).png" style="height: 20px; width: 120px;" alt="Logo goes here">

            <h3>Welcome</h3>
            <p>Lens to life stories</p>
            <small>Already have a account?</small>
            <a href=" " routerLink="/login">Sign In</a>
            
        </div>
        <div class="col-md-9 register-right">
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                   
  
                    <h4 class="register-heading">Sign Up</h4>
                   


                   
                    
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group ">
                                <input type="text" class="form-control" placeholder="Enter your name" value="" />
                            </div>
                            <div class="form-group mt-2">
                                <input type="text" class="form-control" placeholder="Enter your Email *" value="" />
                            </div>
                            <div class="form-group mt-2">
                                <input type="password" class="form-control" placeholder="Enter your phone number" value="" />
                            </div>
                            <div class="form-group mt-2">
                                <input type="password" class="form-control"  placeholder="Enter your password" value="" />
                            </div>
                           
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Conform your password" value="" />
                            </div>
                            <div class="form-group mt-2">
                                <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value="" />
                            </div>
                            <div class="form-group mt-2">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Please select your Sequrity Question</option>
                                    <option>What is your Birthdate?</option>
                                    <option>What is Your old Phone Number</option>
                                    <option>What is your Pet Name?</option>
                                </select>
                            </div>
                            <div class="form-group mt-2">
                                <input type="text" class="form-control" placeholder="Enter Your Answer *" value="" />
                            </div>
                            <button type="submit" class="btn btn-dark mt-3">Register</button>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

</div> -->
 

<!-- ////////////////////////////////////////////// -->
<!-- <section class="vh-100" style="background-color: #151515;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
  
                  <form class="mx-1 mx-md-4">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" class="form-control" />
                        <label class="form-label" for="form3Example1c">Your Name</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="email" id="form3Example3c" class="form-control" />
                        <label class="form-label" for="form3Example3c">Your Email</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" class="form-control" />
                        <label class="form-label" for="form3Example4c">Password</label>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4cd" class="form-control" />
                        <label class="form-label" for="form3Example4cd">Repeat your password</label>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        I agree all statements in <a href="#!">Terms of service</a>
                      </label>
                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="button" class="btn btn-primary btn-lg">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="/assets/icon/3242564.jpg"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="" style="background-color: #c8c2c2;">
    <div class="container py-5 h-100" >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0" style="box-shadow: 0px 2px 19px rgb(0, 0, 0);">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <div style="position: relative; margin-left: 80px; margin-top: 35px;">
                    <img src="/assets/icon/photo-1613047503507-b8d01ce6af26.jpeg"
                    alt="login form" class="img-fluid" style="height: 320px; width: 180px; " />

                </div>
           
                  <img src="/assets/icon/photo-1607462109225-6b64ae2dd3cb.jpeg" alt="" class="img-fluid" style="height: 320px; width: 180px;margin-left: 240px; margin-bottom: 15px;" >
              </div>
              
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <small class="vertical-line"></small>
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form  [formGroup]="registerform" (ngSubmit)="onsubmit()">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                        <img src="/assets/icon/pixel-craze-low-resolution-logo-color-on-transparent-background (1).png" style="height: 20px; width: 120px;" alt="Logo goes here">
                      
                    </div>
  
                    <h4 class="fw-normal mb-3 pb-3 text-success fw-bold" style=" letter-spacing: 1px; text-shadow: 0px 1px 2px rgb(15, 14, 14);  ">Sign UP</h4>
  
                    <div class="form-outline mb-4">
                        <label class="form-label text-dark fw-bolder mt-2" for="form2Example17"  style="text-shadow: 0px 1px 0px black;">Name</label>
                       
                      <input type="text" [ngClass]="{'is-invalid':regsubmit && f.name.errors}" formControlName="name" id="name" class="form-control " placeholder="Enter the Name"/>
                      <div *ngIf="regsubmit && f.name.errors" class="text-danger">
                        
                        <small *ngIf="f.name.errors['required']">Name  is required </small>
                      </div>
                     
                    </div>
  
                    <div class="form-outline mb-4">
                        <label class="form-label text-dark fw-bolder" for="form2Example27" style="text-shadow: 0px 1px 0px black;">Email</label>
                      <input type="email" required  id="email" [ngClass]="{'is-invalid':regsubmit && f.email.errors}" formControlName="email" class="form-control"   placeholder="enter the Email"/>
                      <div *ngIf="regsubmit && f.email.errors" class="text-danger">
                        
                        <small *ngIf="f.email.errors['required']">Email is required</small>
                        <small *ngIf="f.email.errors['email']">Email should be valid</small>
                      </div>
                      
                    </div>
                  
                    <div class="form-outline mb-4">
                      <label class="form-label text-dark fw-bolder" for="form2Example27" style="text-shadow: 0px 1px 0px black;">Phone</label>
                    <input type="number" required  id="myNumberInput" [ngClass]="{'is-invalid':regsubmit && f.phone.errors}" formControlName="phone" class="form-control"   placeholder="enter the phone"/>
                    <div *ngIf="regsubmit && f.phone.errors" class="text-danger">
                      
                      <small *ngIf="f.phone.errors['required']">phone is required</small>
                      <small *ngIf="f.phone.errors['pattern']">Phone number should be valid</small>
                    </div>
                    
                  </div>
                    <!-- //// -->
                    <div class="form-outline mb-4 d-flex">
                      <div class="col-md-6">
                        <label class="form-label text-dark fw-bolder" for="form2Example27" style="text-shadow: 0px 1px 0px black;">password</label>
                    <input type="password" required  id="password" [ngClass]="{'is-invalid':regsubmit && f.password.errors}" formControlName="password" class="form-control"   placeholder="Enter the password"/>
                    <div *ngIf="regsubmit && f.password.errors" class="text-danger">
                      
                      <small *ngIf="f.password.errors['required']">password is required</small>
                      <small *ngIf="f.password.errors['minlength']">Mimum length 5 letters required</small>
                    </div>

                      </div>
                      <div class="col-md-6 ms-2">
                        <label class="form-label text-dark fw-bolder" for="form2Example27" style="text-shadow: 0px 1px 0px black;">Confrim password</label>
                    <input type="password" required  id="cpassword" [ngClass]="{'is-invalid':regsubmit && f.cpassword.errors}" formControlName="cpassword" class="form-control"   placeholder="Confrim password"/>
                    <div *ngIf="regsubmit && f.cpassword.errors" class="text-danger">
                      
                      <small *ngIf="f.cpassword.errors['required']">confirm password is required</small>
                      <small *ngIf="f.cpassword.errors['MustMatch']">Password did not match</small>
                    </div>
                      </div>
                      
                    
                  </div>


           
                   
                    
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark  btn-block" type="=submit" style="font-weight: bolder;">Sign Up</button>
                      <!-- <input  type="button" class="btn btn-dark fw-bold" value="Submit"> -->
                    </div>
                    <hr>
                    <p class="mt-3 pb-lg-2" style="color: #393f81;">Already have an account? <a routerLink="/login"  class=""
                        style="text-decoration: none; color: #89170c;">Login here</a></p>
                        
                  </form>
                  <!-- <div class="col s12 m6 offset-m3 center-align " >
                    <a class="oauth-container btn darken-4 white black-text d-flex border border-black" href="/users/google-oauth/" style="text-transform:none">
                        <div class="left ms-5">
                            <img width="20px" style="margin-top:7px; margin-right:8px" alt="Google sign-in" 
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                        </div>
                        Login with Google
                    </a>
                </div> -->
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css"> -->

<!-- Compiled and minified JavaScript -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script> -->
    
  </section>