.nav-link {
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-family:monospace;
  }
  
  /* Active link color */
  .nav-link.active {
    color: green;
    text-decoration: underline green 3px;
  }
  .navbar{
    background-color: red;
  }