<nav class="navbar navbar-expand-lg bg-body-tertiary" style="box-shadow: 0px 1px 5px black;">
    <div class="container-fluid">
      <a href=""><img src="/src/assets/icon/" style="height: 20px; width: 120px;" alt="Logo goes here"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ps-3">
          <li class="nav-item">
            <a class="nav-link " style="font-weight: bold;" href="">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Professional</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          
          
        </ul>
        <li class="nav-item dropdown btn btn-dark">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account
          </a>
          
          <ul class="dropdown-menu" *ngIf="true">
  
            <li><a class="dropdown-item" routerLink="/login">Login</a></li>
            <li><a class="dropdown-item" routerLink="/register">Sign up</a></li>
            
          </ul>
          <ul class="dropdown-menu" *ngIf="false">
  
           
            <li><a class="dropdown-item" routerLink="/login" (click)="logout()">Log out</a></li>
            
          </ul>
        </li>
        
      </div>
    </div>
  </nav>
