<footer class="footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <a href=""><img src="/assets/icon/pixel-craze-low-resolution-logo-color-on-transparent-background (1).png" style="height: 20px; width: 120px;" alt="Logo goes here"></a>
          <h4 class="mt-4"></h4>
          <small style="font-family: 'Poppins', sans-serif;  color: black; text-shadow: 0px 1px  0px rgba(0, 0, 0, 0.25); font-weight: bolder; font-size: 14px;"  >"Every photograph tells a story, and at Pixel Craze, we have a library of untold tales waiting to be shared"</small>
          <h6 class="mt-3 " style="text-decoration: underline;">Follow us on</h6>
         <div class="mt-3">
  
          <a href=""><i class="fab fa-instagram" style="font-size: 24px; color: red;"></i></a>
          
          <a href="#" class="ms-3"><i class="fab fa-facebook" style="font-size:23px;"></i></a>
  
  
         </div>
           
           
        
          
          
        </div>
        <div class="col-md-3 col-sm-6">
          <h6 style="color: rgb(237, 3, 3); text-decoration: underline; font-weight: bolder;">About</h6>
          <ul class="no-bullets mt-4">
            
            <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;"  >Home</a></li>
            <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;">Services</a></li>
            <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;">Portfolio</a></li>
            <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;">About</a></li>
            <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h6 style="color: rgb(235, 10, 10); text-decoration: underline; font-weight: bolder;">Contact</h6>
          <ul class="no-bullets mt-4">
            <li style="text-decoration: none; color: black; font-weight: bold;">Email: Pizelcraze@gmail.com</li>
            <li style="text-decoration: none; color: black; font-weight: bold;">Phone: +91 7558949013</li>
            <!-- <li>Address: 123 Street, City, Country</li> -->
          </ul>
        </div>
      </div>
    </div>
  </footer>

