.vertical-line {
    border-left: 1px solid rgb(237, 3, 3); /* Change the color and style */
    height: 300px; /* Adjust the height of the line */
    margin: 0 8px; /* Adjust the margin for spacing */
    border-width: 4px;
    text-shadow: 0px 1px 5px black;
}
.vertical-linee {
  border-left: 1px solid rgb(0, 0, 0); /* Change the color and style */
  height: 350px; /* Adjust the height of the line */
  margin: 0 8px; /* Adjust the margin for spacing */
  border-width: 3px;
  text-shadow: 0px 1px 5px black;
}

.file-input {
    display: none;
  }
  
  /* Style the custom file input button */
  .file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Optional: Add hover and active styles */
  .file-input-container {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 0px solid #000000;
  }
  
  .file-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
  }
  
  .file-label {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #272626;
    color: #fff;
    cursor: pointer;
    font-family: Arial, sans-serif;
  }
  
  .file-icon {
    margin-right: 8px;
  }
  
  .file-text {
    font-size: 16px;
  }
  
  /* Optional: Add hover and active styles */
  .file-input-container:hover {
    background-color: #e0e0e0;
  }
  
  .file-input-container:active {
    background-color: #d0d0d0;
  }
  

  .imagessview {
    width: 460px;
  }
  
  /* Media query for screen size less than or equal to 733px */
  @media only screen and (max-width: 733px) {
    .imagessview {
      width: 340px;
    }
  }
  .img:hover{
    scale: 1.05;
  }
  .btn:hover{
    scale: 1.07;
  }
  .card:hover{
    scale: 1.05;
  }
  /* .button {
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    height: 50px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  } */
  @keyframes beat-fade {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.2;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  /* Apply the animation to the "fa-beat-fade" class */
  .fa-beat-fade {
    animation: beat-fade 2s infinite;
  }