<app-navbar></app-navbar>
<div class="container-fluid" style="min-height: 100vh;">
 
  <div>
    <nav class="px-xl-5" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb mt-2">
        <li class="breadcrumb-item"><a routerLink="/" style="text-decoration: none; color: black; font-family: 'Arizonia', cursive;font-size: 21px;">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page" style="font-family: 'Arizonia', cursive;font-size: 21px;">Professionals</li>
      </ol>
    </nav>
    <img src=".../../../../../assets/icon/Quotefancy-2812874-3840x2160.jpg" style="width: 100%; height: 700px; object-fit: cover; opacity: 1; box-shadow: 0px 5px 5px black;" alt="">
  </div>
  <h2 class="brands-text"> <span class="text-white;" style="font-family: 'Arizonia', cursive ;color: rgb(255, 255, 255); font-size: 15px;">Pixel Craze</span> </h2>
    
  <div class="row px-xl-5" >
   
    
      <div class="mt-2">
      
        <h5 style="font-family: monospace; text-shadow: 0px 1px 1px black; color: red;">"Through the lens of emotions" <span class="" style="font-family: monospace; font-size: 12px;">--darwin</span></h5>
        <div class="d-flex justify-content-end">
          <div class="flex-grow-1"></div>
          <div class="form-group">
            <input type="text"  [(ngModel)]="searchText"  class="form-control form-control-sm" placeholder="Search......" style=" box-shadow: 0px 1px 4px black;">
          </div>
        </div>
      </div>
      <div *ngIf="(professionallist$ | paginate: { itemsPerPage: tableSize, currentPage: page, totalItems: count }) as professionaldata">
        <div *ngFor="let professional of professionaldata | professionalpipe: searchText let i=index">
          <div class="card mt-4  card " style="box-shadow: 0px 1px 5px black; background-color:#ffffff"  >
            <div class="row g-0 " >
             
              <div class="col-md-2 ">
                <div class="m-3">

                  <img  [src]="getImageUrl(professional.photo ? professional.photo.toString() : '')"  class="img-fluid  img"  alt="..." style="width: 250px; height: 190px; object-fit: cover; box-shadow: 0px 1px 5px black;">
                </div>
              </div>
              <div class="col-md-9 mt-3" >
                <div class="card-body">
                    <div class=" d-flex justify-content-between" >
                        <h6 class="card-title name" style=" text-shadow: 0px 1px 2px black;">{{professional.name}}</h6>
                        <button (click)="getprofile(professional._id)" style="width: 100px; box-shadow: 0px 1px 3px rgb(0, 0, 0); border-radius: 10px; font-family: monospace;" class="btn btn-outline-dark fw-bold">Profile</button>
             
                    </div>
                  <small class="name" style="color: rgb(0, 31, 167);"><span class="text-success fw-bold name" style="font-size: 15px;">{{professional.experinces}} </span>Years of experinces</small>
                  <div class="mt-3">
                  <span class="name" style="font-size: 15px;"><i class="fas fa-map-marker-alt text-danger" ></i>     {{professional.place}}</span>
                  </div>
              
                  <p class="card-text mt-3"><small class="text-muted name" style="font-size: 13px;">{{professional.specialized}}</small></p>
                </div>
              </div>
            </div>
           
          </div>

        </div>
      </div>
      <hr class="mt-4">
      <div class="mt-3  d-flex justify-content-end"   >
        <select name="" style="border-color: rgb(6, 6, 6); border-width: 2px; box-shadow: 0px 1px 5px rgb(0, 0, 0);" id="" (change)="onTableSizeChange($event)">
          <option value="" *ngFor="let size of tableSizes">{{size}}</option>
        </select>
        <pagination-controls previousLabel="Prev" 
        nextLabel="Next" (pageChange)="onTableDataChange($event)">
          
        </pagination-controls>
      </div>
     
          

        
    
      
      
      
  </div>
</div>
<app-footer></app-footer>
