

<div class="container-fluid g-0">
    <app-header></app-header>
  </div>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5 d-none d-sm-inline">Pixel Craze</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item "  >
                  <a routerLink="/admin/dashboard" class="nav-link align-middle px-0">
                      <i class="fa fa-home fa-beat" style="color: rgb(177, 7, 7);"></i> <span class="ms-4 d-none d-sm-inline text-success" style="font-weight: bold; color: rgb(244, 244, 244);">Dashboard</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/admin/users" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fa fa-users"></i> <span class="d-none d-sm-inline ms-4" style="font-weight: bold; color: white;">Users</span> </a>
                  
              </li>
              <li>
                  <a routerLink="/admin/professionals" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fas fa-user-tie"></i> <span class="d-none d-sm-inline ms-4" style="font-weight: bold; color: white;">Professionals</span> </a>
                  
              </li>
              <li>
                  <a routerLink="/admin/banner" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fas fa-image"></i> <span class="d-none d-sm-inline ms-4" style="font-weight: bold; color: white;">Banner</span> </a>
                  
              </li>
              <li>
                <a routerLink="/admin/booking" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                    <i class="fas fa-calendar-check"></i> <span class="d-none d-sm-inline ms-4" style="font-weight: bold; color: white;">Booking</span> </a>
                
            </li>
              
            
            
          </ul>
          <hr>
          <div class="dropdown pb-4">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                  <span class="d-none d-sm-inline mx-1">loser</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div>
      </div>
      </div>
      <div class="col-9 col-md-9 col-xl-10 py-3">
       
      
        
            <a  routerLink="/admin/banner" style="text-decoration: none; color: black; font-weight: 500;"><small  >Banner</small></a>
            <a  routerLink="/admin/addbanner" style="font-weight: bold; text-decoration: underline 2px rgb(28, 113, 7) ; color: black;"> <small  class=" ms-3" >Add Banner</small></a>
           
            <hr>
        
        <h4 style="color: black;" *ngIf="">.....</h4>

        <div class="col-md-10">
            <form [formGroup]="bannerform" (ngSubmit)="onsubmit()">
                <div class="form-group">
                  <label for="exampleInputEmail1" style="color: black; font-weight: bold;">Heading</label>
                  <input type="text" [ngClass]="{'is-invalid':regsubmit && bannerform.controls['heading'].errors}" style="box-shadow: 0px 1px 5px;" formControlName="heading" class="form-control mt-2" id="heading" name="heading"  placeholder="Heading goes here">
                  <div *ngIf="regsubmit && bannerform.controls['heading'].errors" class="text-danger">
                    
                    <small *ngIf="bannerform.controls['heading'].errors['required']">Heading is required </small>
                    
  
                  </div> 
                </div>
                <!-- <input type="text" [ngClass]="{'is-invalid':regsubmit && registerform.controls['email'].errors}" name="email" formControlName="email" id="email" class="form-control " placeholder="Enter the Email"/>
                <div *ngIf="regsubmit && registerform.controls['email'].errors" class="text-danger">
                    
                  <small *ngIf="registerform.controls['email'].errors['required']">Email is required </small>
                  <small *ngIf="registerform.controls['email'].errors['email']">Email should be valid</small>

                </div> -->
                <div class="form-group">
                  <label  class="mt-3" style="color: black; font-weight: bold;">Sub Heading</label>
                  <input type="text" class="form-control" id="subheading"  formControlName="subheading" style="box-shadow: 0px 1px 5px;" name="subheading" placeholder="Sub Heading goes here">
                </div>  
              
                  <div class="mt-3">
                    <label class="form-label" for="customFile" style="color: black; font-weight: bold;">Image</label>
                    <input type="file" class="form-control" accept="image/*" name="image" formControlName="fileInput" style="box-shadow: 0px 1px 5px;" (change)="uploadImage($event.target)" > 
                    <div *ngIf="regsubmit && bannerform.controls['fileInput'].errors" class="text-danger">
                        <div *ngIf="bannerform.controls['fileInput'].errors['required']">Image is required</div>
                          
                      </div>
                  </div>
                <div class="mt-3"> 
                    <button  type="submit" class="btn btn-info">Submit</button>
                </div>
                
              </form>

        </div>
        
        
        
      </div>
    </div>
  </div>
