<!-- <app-header></app-header>
<div class="">
    <div class="row">
  
      <div class="col-lg-3 col-md-4 col-sm-12 ">
        <app-sidebar></app-sidebar>
      </div>

      <div class="col-lg-9 col-md-8 col-sm-12">
       
        <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas eos minima dicta! Praesentium, ex, magni veritatis modi dolores fugit accusamus fuga iusto architecto temporibus dolorem, laudantium quos expedita illum culpa.</h2>
      </div>
    </div>
  </div> -->

  <app-sidebar></app-sidebar>
