
<nav class="navbar navbar-expand navbar-dark px-2" style="background-color: rgb(32, 31, 31);">
    <div class="side-nav-button p-2 me-3 text-light">
        <i class="fa fa-bars"></i>
    </div>
    <a href="#">    <img src="/assets/icon/pixel-craze-low-resolution-logo-color-on-transparent-background (2).png" style="height: 20px; width: 120px;" alt="Logo goes here">
    </a>
    <div class="navbar-collapse">
       
    </div>
    <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-info text-dark" style="background-color: rgb(217, 217, 217); font-weight: bold;" role="button " data-bs-toggle="dropdown">Account</a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
                <li class="ho"><a href="#" class="dropdown-item">Log out</a></li>
               
            </ul>
        </li>
    </ul>
    
</nav>
