<footer class="footer mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <a href=""><img src="/assets/icon/pixel-craze-low-resolution-logo-color-on-transparent-background (2).png" style="height: 20px; width: 120px;" alt="Logo goes here"></a>
          <h4 class="mt-4"></h4>
          <small style="font-family: 'Poppins', sans-serif;  color: rgb(255, 255, 255); text-shadow: 0px 1px  0px rgba(0, 0, 0, 0.25); font-weight: bolder; font-size: 14px;"  >"Every photograph tells a story, and at Pixel Craze, we have a library of untold tales waiting to be shared"</small>
          <h6 class="mt-3 " style="text-decoration: underline;">Follow us on</h6>
         <div class="mt-2">
  
          <a href="" class="icon"><i class="fab fa-instagram icon" style="font-size: 24px; color: red;"></i></a>
          
          <a href="#" class="ms-3 icon" ><i class="fab fa-facebook icon" style="font-size:23px;"></i></a>
          <a href="#" class="ms-3 icon" ><i class="fab fa-twitter icon" style="font-size:23px;"></i></a>
          <a href="#" class="ms-3 icon"><i class="fab fa-youtube icon" style="font-size:23px; color: red;"></i></a>
    
          <div class="mt-2">

            <small class="text-white mt-2" style="font-family: monospace;">© 2023 Pixel Craze. All rights reserved</small>
          </div>
  
  
         </div>
           
           
        
          
          
        </div>
        <div class="col-md-3 col-sm-6">
          <h6 style="color: rgb(237, 3, 3); text-decoration: underline; font-weight: bolder; font-family: monospace;">About</h6>
          <ul class="no-bullets mt-4">
            
            <li><a href="#" style="text-decoration: none; color: rgb(255, 255, 255); font-weight: bold; font-family: monospace"  >Home</a></li>
            <li><a href="#" style="text-decoration: none; color: rgb(255, 255, 255); font-weight: bold; font-family: monospace">Services</a></li>
            <li><a href="#" style="text-decoration: none; color: rgb(255, 255, 255); font-weight: bold; font-family: monospace">Portfolio</a></li>
            <li><a href="#" style="text-decoration: none; color: rgb(255, 255, 255); font-weight: bold; font-family: monospace">About</a></li>
            <li><a href="#" style="text-decoration: none; color: rgb(255, 255, 255); font-weight: bold; font-family: monospace ">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6">
          <h6 style="color: rgb(235, 10, 10); text-decoration: underline; font-weight: bolder; ">Contact</h6>
          <ul class="no-bullets mt-4">
            <li style="text-decoration: none; color: rgb(255, 255, 255); font-weight: bold; font-family: monospace;">Email: Pizelcraze@gmail.com</li>
            <li style="text-decoration: none; color: rgb(255, 251, 251); font-weight: bold; font-family: monospace">Phone: +91 7558949013</li>
            <li style="text-decoration: none; color: rgb(255, 251, 251); font-weight: bold; font-family: monospace">Kannur ,kerale ,670511</li>
            <div class="d-flex">

              <!-- <input type="text" placeholder="Email........" style="box-shadow: 0px 1px 5px rgb(50, 50, 50); border-color: 1px rgb(0, 0, 0) ; border: none; border-radius: 5px;"  >
              <button class="btn btn-warning btn-sm text-white ms-1" style="font-family: monospace; border-radius: 0;">Submit</button> -->
            </div>
            
          </ul>
        </div>
      </div>
    </div>
  </footer>
