
<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row px-xl-5">
    <div class="col-md-8 col-lg-8,col-12 mt-4">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
              class="d-block w-100"
              src="/assets/icon/3242564.jpg"
              style="object-fit: cover"
              alt="First slide"
              style="height: 525px"
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Hiii</h5>
                <p>...</p>
              </div>
              </div>
              <div class="carousel-item">
                <img
              class="d-block w-100"
              src="/assets/icon/bookworms-haven-flat-lay-illustration-generative-ai_549702-709 (1).jpg"
              alt="Second slide"
              style="height: 525px"
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Hiii</h5>
                <p>...</p>
              </div>
              </div>
              <div class="carousel-item">
                <img
              class="d-block w-100"
              src="/assets/icon/workplace-with-smartphone-laptop-black-table-top-view-copyspace-background.jpg"
              alt="Third slide"
              style="height: 525px"
            />
            <div class="carousel-caption d-none d-md-block">
                <h5>Hiii</h5>
                <p>...</p>
              </div>
              </div>
            </div>
          </div>
        
      
    </div>

   
      
        <div class="d-flex flex-column col-md-4 col-12 col-lg-4">
          <div class=" mt-4 text " style="box-shadow: 1px 5px 5px black">
            <img class="w-100"
              src="../../../assets/icon/bookworms-haven-flat-lay-illustration-generative-ai_549702-709 (1).jpg"
              
              style="height: 250px; object-fit: cover; opacity: 0.9"
              alt=""
            />
            <div class="text-overlay">
              <h2>Text Over Image</h2>
              <p>Some description text</p>
            </div>
          </div>
          <div class="mt-4 text" style="box-shadow: 1px 5px 6px black">
            <img class="w-100" src="../../../assets/icon/photo-1613047503507-b8d01ce6af26.jpeg" alt="" style="height: 250px; object-fit: cover;" >
            <div class="text-overlay">
              <h2>Text Over Image</h2>
              <p>Some description text</p>
            </div>
          </div>
        </div>
      
 

  <div class="container-fluid px-xl-5 mt-5 ">
    
    <div class="col-md-12 col-12 col-lg-12 ">
      <h3>Why Pixel-Craze ?</h3>
      <hr />
      
      <small class="mt-5" style="font-size: medium"
        >Welcome to out Pixel Craze website ,where we we celebrate the art to
        capturing moments and creating everlasting memories. At our core we
        believe that photography goes beyond simply taking pictures .it is a
        powerful medium that allow us to frezee time ,preserve emotions ,and it
        is and unveil the beauty that surround us .Through our lenses,we strive
        to transform ordinary scenes into extraordinary work of art,capturing
        the essence of life in each frame ! <br />Pixel Craze is an online
        community and hiring platform specifically designed for photographers.
        It serves as a hub where both photographers and clients can connect,
        collaborate, and showcase their work. The website provides a range of
        features and services tailored to meet the needs of photographers and
        those seeking their services. <br />Pixel Craze allows photographers to
        create personalized portfolios to showcase their work. Photographers can
        upload their best images, organize them into albums or categories, and
        provide detailed descriptions for each photograph. This enables
        potential clients to get a comprehensive view of the photographer's
        style, skills, and expertise.</small
      >
    </div>
  </div>
  <div class="container-fluid px-xl-5 mt-5 mb-5">
   
  
      <h3>Frame your moments with best photographer</h3>
      <hr>
      <div class="row mt-5">
      <div class="col-md-6">
        <img class="w-100" src="../../../assets/icon/Nikah-Muslim-Destination-Wedding-016.jpg" alt="" style="height: 400px; object-fit: cover;" >


      </div>
      <div class="col-md-6 mt-5">
        <div class="mt-4"><small class="mt-5" style="font-size: medium"
          >Pixel Craze serves as a vibrant community where clients can easily find and hire photographers for various projects and events. Clients can browse through a diverse directory of photographers, filtering their search based on location, specialty, style, and budget. The platform provides detailed photographer profiles, including their portfolio, ratings, reviews, and availability, allowing clients to make informed hiring decisions. <br>Pixel Craze allows photographers to create personalized portfolios to showcase their work. Photographers can upload their best images, organize them into albums or categories, and provide detailed descriptions for each photograph. This enables potential clients to get a comprehensive view of the photographer's style, skills, and expertise.</small
        ></div>
        

      </div>
    </div>
 
     <div class="row mt-5">
      
      <div class="col-md-6 mt-4 mb-4" >
        <div class="mt-4 "><small class="mt-5" style="font-size: medium"
          >Pixel Craze Model Photography offers a top-tier service that showcases models, fashion, and beauty in a visually stunning and creative manner. Through their expertise, professionalism, and dedication to capturing the essence of each individual, Pixel Cart helps models elevate their portfolios and contribute to the world of fashion and beauty photography..
          <br>Pixel Craze is a comprehensive online platform that brings together photographers and clients in a dynamic and collaborative environment. It provides photographers with a powerful portfolio showcase, facilitates client hiring and collaboration, encourages community engagement, and offers valuable resources to foster growth and development in the field of photography.</small
        ></div>
        

      </div>
      <div class="col-md-6 mt-4">
        <img class="w-100" src="../../../assets/icon/pexels-jaspereology-4026110.jpg" alt="" style="height: 400px; object-fit: cover;" >


      </div>
    </div>
  </div>
  
 
</div>
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <a href=""><img src="/assets/icon/pixel-craze-low-resolution-logo-color-on-transparent-background (1).png" style="height: 20px; width: 120px;" alt="Logo goes here"></a>
        <h4 class="mt-4"></h4>
        <small style="font-family: 'Poppins', sans-serif;  color: black; text-shadow: 0px 1px  0px rgba(0, 0, 0, 0.25); font-weight: bolder; font-size: 14px;"  >"Every photograph tells a story, and at Pixel Craze, we have a library of untold tales waiting to be shared"</small>
        <h6 class="mt-3 " style="text-decoration: underline;">Follow us on</h6>
       <div class="mt-3">

        <a href=""><i class="fab fa-instagram" style="font-size: 24px; color: red;"></i></a>
        
        <a href="#" class="ms-3"><i class="fab fa-facebook" style="font-size:23px;"></i></a>


       </div>
         
         
      
        
        
      </div>
      <div class="col-md-3 col-sm-6">
        <h6 style="color: rgb(237, 3, 3); text-decoration: underline; font-weight: bolder;">About</h6>
        <ul class="no-bullets mt-4">
          
          <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;"  >Home</a></li>
          <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;">Services</a></li>
          <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;">Portfolio</a></li>
          <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;">About</a></li>
          <li><a href="#" style="text-decoration: none; color: black; font-weight: bold;">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <h6 style="color: rgb(235, 10, 10); text-decoration: underline; font-weight: bolder;">Contact</h6>
        <ul class="no-bullets mt-4">
          <li style="text-decoration: none; color: black; font-weight: bold;">Email: Pizelcraze@gmail.com</li>
          <li style="text-decoration: none; color: black; font-weight: bold;">Phone: +91 7558949013</li>
          <!-- <li>Address: 123 Street, City, Country</li> -->
        </ul>
      </div>
    </div>
  </div>
</footer>
