

<div class="container-fluid g-0">
    <app-header></app-header>
  </div>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
        <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
          <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
              <span class="fs-5 d-none d-sm-inline">Pixel Craze</span>
          </a>
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
              <li class="nav-item"  >
                  <a routerLink="/admin/dashboard" class="nav-link align-middle px-0">
                      <i class="fa fa-home fa-beat" style="color: rgb(177, 7, 7);"></i> <span class="ms-4 d-none d-sm-inline" style="font-weight: bold; color: rgb(244, 244, 244);">Dashboard</span>
                  </a>
              </li>
              <li>
                  <a routerLink="/admin/users" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fa fa-users"></i> <span class="d-none d-sm-inline ms-4" style="font-weight: bold; color: white;">Users</span> </a>
                  
              </li>
              <li>
                  <a href="" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fas fa-user-tie"></i> <span class="d-none d-sm-inline ms-4" style="font-weight: bold; color: white;">Professionals</span> </a>
                  
              </li>
              
              <!-- <li>
                  <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                      <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                      <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                      <li class="w-100">
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                      </li>
                      <li>
                          <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                      </li>
                  </ul>
              </li> -->
            
          </ul>
          <hr>
          <div class="dropdown pb-4">
              <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                  <span class="d-none d-sm-inline mx-1">loser</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="#">New project...</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Profile</a></li>
                  <li>
                      <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
              </ul>
          </div>
      </div>
      </div>
      <div class="col-9 col-md-9 col-xl-10 py-3">
        <h2>Professionals list</h2>
        <div class="table-responsive">
          <table class="table align-middle mb-0 bg-white">
           
              <thead class="bg-light">
                <tr>
                  <th>Name</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Position</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                          src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                          alt=""
                          style="width: 45px; height: 45px"
                          class="rounded-circle"
                          />
                      <div class="ms-3">
                        <p class="fw-bold mb-1">John Doe</p>
                        <p class="text-muted mb-0">john.doe@gmail.com</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">Software engineer</p>
                    <p class="text-muted mb-0">IT department</p>
                  </td>
                  <td>
                    <span class="badge badge-success rounded-pill d-inline">Active</span>
                  </td>
                  <td>Senior</td>
                  <td>
                    <button type="button" class="btn btn-link btn-sm btn-rounded">
                      Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                          src="https://mdbootstrap.com/img/new/avatars/6.jpg"
                          class="rounded-circle"
                          alt=""
                          style="width: 45px; height: 45px"
                          />
                      <div class="ms-3">
                        <p class="fw-bold mb-1">Alex Ray</p>
                        <p class="text-muted mb-0">alex.ray@gmail.com</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">Consultant</p>
                    <p class="text-muted mb-0">Finance</p>
                  </td>
                  <td>
                    <span class="badge badge-primary rounded-pill d-inline"
                          >Onboarding</span
                      >
                  </td>
                  <td>Junior</td>
                  <td>
                    <button
                            type="button"
                            class="btn btn-link btn-rounded btn-sm fw-bold"
                            data-mdb-ripple-color="dark"
                            >
                      Edit
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    <div class="d-flex align-items-center">
                      <img
                          src="https://mdbootstrap.com/img/new/avatars/7.jpg"
                          class="rounded-circle"
                          alt=""
                          style="width: 45px; height: 45px"
                          />
                      <div class="ms-3">
                        <p class="fw-bold mb-1">Kate Hunington</p>
                        <p class="text-muted mb-0">kate.hunington@gmail.com</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="fw-normal mb-1">Designer</p>
                    <p class="text-muted mb-0">UI/UX</p>
                  </td>
                  <td>
                    <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
                  </td>
                  <td>Senior</td>
                  <td>
                    <button
                            type="button"
                            class="btn btn-link btn-rounded btn-sm fw-bold"
                            data-mdb-ripple-color="dark"
                            >
                      Edit
                    </button>
                  </td>
                </tr>
              </tbody>
          
          </table>
        </div>
      </div>
    </div>
  </div>